<footer>
  {% load i18n %}
    <div class="partners">
    <h4>{% trans "Our Partners:" %}</h4>
    <ul>
        {% for sponsor in sponsors %}
            <li><a href="{{ sponsor.url }}">{{ sponsor.name }}</a></li>
        {% endfor %}
    </ul>
</div>
  <div class="container">
   <p> &copy; ЮрийБелл2023. {% trans "All rights reserved." %} </p>
<h6><a href="https://dimasfrolov.com/">Photographer Dmitry</a> </h6>
<a href="{% url 'helpy:index' %}" class="btn btn-primary">{% trans "Go back to the main page" language_code='en' %}</a>

  </div>

</footer>