{% extends "base_templates/base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    <h1>{% trans "Review Details" %}</h1>
    <table>
      {% for field in review._meta.fields %}
          {% if field.name != 'id' and field.name != 'is_approved' %}
          <tr>
            <th>{{ field.verbose_name }}</th>
            <td>{{ review.field.name }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
{% if request.user.is_authenticated %}
  <div class="like-button">
    {% if request.user in review.likes.all %}
      <form action="{{ review.get_like_url }}" method="POST">
        {% csrf_token %}
        <button type="submit" name="like" value="dislike" class="btn btn-link"><i class="far fa-thumbs-down"></i></button>
      </form>
      <span>{{ review.likes.count }} likes</span>
    {% else %}
      <form action="{{ review.get_like_url }}" method="POST">
        {% csrf_token %}
        <button type="submit" name="like" value="like" class="btn btn-link"><i class="far fa-thumbs-up"></i></button>
      </form>
      <span>{{ review.likes.count }} likes</span>
    {% endif %}
  </div>
{% endif %}
{% endblock %}
